#root {
  max-width: 1280px;
  margin: 1px;
  padding: 2rem;
  text-align: center;
}

.headContentCont {
  display: flex;
  margin: 1rem;
  flex-direction: column;
}

.instrCont>span:first-child:after {
  content: " \2662  "
}

.scoreCont {
  display: flex;
  justify-content: flex-end;
}

.scoreCont>span {
  margin: .3rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card>img {
  width: 15rem;
  border-radius: 8px;
  overflow: hidden;
  height: auto;
}

.card>img:hover {
  box-shadow: 0.3em 0.3em .3em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

a>img {
  margin-right: .3em;
  width: 1em;
  height: auto;
}

